* {
    box-sizing: border-box;
}

body,html {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: none;
}

.xdsoft_datetimepicker .xdsoft_timepicker {
    width: 92px;
}

label {
    margin-right: 10px;
}

.vertical-gap {
    margin: 7% auto 0;
}

.parsing-title {
    background: url('../images/title2.png') no-repeat;
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: 48px;
    margin: 20px auto;
}

.datepickers {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.datepicker {
    display: inline-block;
    width: 26%;
}

.startDateTime1, .endDateTime1 {
    width: 66%;
    height: 30px;
}

#parse-btn {
    display: block;
    width: 186px;
    height: 47px;
    margin: 40px auto 0;
    cursor: pointer;
    color: transparent;
    border: none;
    background: url('../images/parse-btn4.png') no-repeat;
}

#dtBox {
    top: 31px !important;
}

table.email_info_table {
    margin: 0 auto;
    table-layout: fixed;
    font-size: 13px;
}

table.email_info_table th {
    padding: 7px 5px;
    font-size: 14px;
    background-color: #e6e6e6;
}

table.email_info_table td {
    text-align: center;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px;
    border-collapse: collapse;
    max-width: 150px;
}

table.email_info_table tr:odd {
    background-color: #f9f9f9;
}

table.email_info_table tr:hover {
    background-color: #f6f6f6;
}

table.email_info_table tr:even {
    background-color: #ffffff;
}

table.email_info_table td:first-child {
    width: 30px;
}

table.email_info_table td:nth-child(2) {
    text-align: left;
    width: 200px;
    max-width: 200px;
}

table.email_info_table td:nth-child(3) {
    text-align: left;
    width: 300px;
    max-width: 300px;
}

table.email_info_table td:nth-child(4) {
    max-width: 180px;
}

table.email_info_table.users td {
    text-align: center;
    width: 160px;
    padding: 7px;
}

table.email_info_table.users th {
    text-align: center;
}


/*Login Form */
.login-form {
    margin: 0 auto;
    width: 400px;
    text-align: left;
    border: 1px solid #CCC;
    padding: 30px 0 30px 60px;
    background-color: #f7f7f7;
}

.login-form input[type = 'text'], .login-form input[type = 'password'], .login-form input[type = 'email'], select {
    width: 270px;
    height: 30px;
    margin-top: 7px;
    border: 1px solid #CCC;
    padding-left: 5px;
}

.login-form input[type = 'submit'] {
    width: 111px;
    height: 37px;
    margin: 5px auto 0;
    cursor: pointer;
    color: transparent;
    border: none;
}

input[type = 'submit'].login {
    background: url('../images/login-btn.png') no-repeat;
}

input[type = 'submit'].add {
    background: url('../images/add_btn.png') no-repeat;
}

input[type = 'submit'].edit {
    background: url('../images/edit_btn.png') no-repeat;
}

/* Login */

p.error, a.delete {
    color: #FF0000;
}

p.message {
    color: #66cc00;
}

a.edit {
    color: blue;
}

.header {
    width: 100%;
    background-color: #666666;
    height: 45px;
    margin: 0 auto;
}

.inner-header {
    margin: 0 auto;
    width: 1100px;
    max-width: 100%;
    text-align: right;
}

.inner-header .logo {
    float: left;
}

.inner-header .logo img {
    margin-top: 10px;
    max-width: 33%;
}

.inner-header .links {
    float: right;
}

.inner-header .links a {
    display: inline-block;
    margin-top: 13px;
    color: #fff;
    font-size: 13px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

div.add-new-div {
    float: none;
    width: 79.3%;
    text-align: right;
}

.user-add-edit {
    float: none;
    margin-bottom: 10px;
    display: none;
}

.user-add-edit .login-form, .users-list {
    width: 58.4%;
    overflow: hidden;
    padding: 30px 40px 15px;
    margin: 20px auto;
}

.users-list .col-6 input[type='checkbox'] {
    margin-right: 4px;
}

.users-list .col-6 label {
    font-weight: normal;
    text-transform: capitalize;
}

.col-6 {
    float: left;
    width: 20%;
    margin-bottom: 15px;
}

.col-12 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.col-6 label {
    display: block;
}

.col-6 input[type="text"], .col-6 input[type="password"], .col-6 select {
    margin-top: 0;
}

h2 {
    margin: 0 0 15px;
    font-size: 20px;
}

.users-list {
    display: none;
}

a.add {
    background: url('../images/add-new-btn.png') no-repeat;
    display: inline-block;
    color: transparent;
    margin: 10px 0;
    width: 135px;
    height: 37px;
}

#progressbar {
    width: 600px;
    margin: 20px auto 0;
    position: relative;
}

#progressbar span.total_percent {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.files {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.files p {
    float: left;
    margin: 7px auto 0;
    text-align: left;
}

.files p.df {
    float: right;
}

.files p.pf span {
    color: green;
}

.files p.df span {
    color: #FF0000;
}

.files p.tf span {
    color: #2c2c2c;
    font-weight: bold;
}

.btn-div {
    width: 100%;
    text-align: center;
    margin: 0 0 20px;
    float: left;
}

.generate_report_btn {
    width: 232px;
    height: 37px;
    background: url('../images/generate-report-btn.png') no-repeat;
    display: inline-block;
}

.assigning {
    width: 152px;
    height: 37px;
    background: url('../images/assign-files.png') no-repeat;
    display: inline-block;
}

.clear {
    clear: both;
}